<div class="line"></div>
<div class="product-details" *ngIf="productDetails; let p;">
        <ng-container></ng-container>
        <div><img src="{{p.image}}"></div>
        <div class="details">
                <h3>{{p.title}}</h3>
                <p class="description">{{p.description}}</p>
                <p class="price"><b>price:</b> {{p.price | currency:'ILS'}} </p>
                <div class="container-action">
                        <app-cart-action [product]="p"></app-cart-action>
                        <app-edit-product-button [routerLink]="['/products', p.id, 'edit-product']"></app-edit-product-button>
                </div>
        </div>
</div>