<div class="wrapper">
    <img [src]="cartItem.image">
    <div class="item-details">
        <p><b>Item: </b> <span [routerLink]="['/cart/items', cartItem.id]">{{ cartItem.title }}</span></p>
        <p><b>Amount: </b>
            <i class="fas fa-plus-square" (click)="addQuantity()" title="increase item amount"></i>
            {{ getQuantity() }}
            <i class="fas fa-minus-square"  (click)="removeQuantity()" title="decrease item amount"></i>
        </p>
        <p>Price: {{ cartItem.price | currency:'ILS'}} </p>
        <p class="total-details"> Total: {{ getTotalPrice() | currency:'ILS'}} </p>
    </div>
    <button title="remove item" (click)="removeCartItem()" routerLink="/cart"><i class="far fa-trash-alt"></i></button>
</div>
