<div class="box">
    <div class="dropdown">
            <button class="dropbtn">Products</button>
            <div class="dropdown-content">
                <div class="category" (click)="filterCategory('All')">All</div>
                <div class="category" *ngFor="let category of (categoryArray | async)" (click)="filterCategory(category.id)">{{category.title}}</div>
            </div>
      </div>
    <div class="product">
        <ng-container *ngIf="currentCategoryId === 'All'">
            <app-product-item *ngFor="let product of (productArray | async )" [product]="product"></app-product-item>
        </ng-container>
        <ng-container *ngIf="currentCategoryId !== 'All'">
            <app-product-item *ngFor="let product of (filteredArray | async)" [product]="product"></app-product-item>
        </ng-container>
    </div>
</div>