.product-details {
    display: flex;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-bottom: 50px;
}

img {
    width: 250px;
}

.details {
    margin-left: 50px;
}

.details p {
    margin-top: 10px;
}
