<app-sidebar [@sideBarState]="sidebarState" (content)="changeContent($event)"></app-sidebar>
<app-header (isOpen)="toggleMenu()"></app-header>
<div [ngSwitch]="currentContent">
    <app-home *ngSwitchCase="'HOME'" [contentState]="currentContent"></app-home>
    <app-about *ngSwitchCase="'ABOUT'" [contentState]="currentContent"></app-about>
    <app-products *ngSwitchCase="'PRODUCTS'" (productDetails)="productDetailsContent($event)" [contentState]="currentContent"></app-products>
    <app-contact *ngSwitchCase="'CONTACT'" [contentState]="currentContent"></app-contact>
    <app-product-details *ngSwitchCase="'DETAILS'" [productDetails]="getProductDetails()" (productsView)="changeToProductsView()" [contentState]="currentContent"></app-product-details>
    <app-home *ngSwitchCaseDefault></app-home>
</div>