<app-sidebar [hidden]="isShown" (content)="changeContent($event)"></app-sidebar>
<app-header (isOpen)="toggleMenu()"></app-header>
<div [ngSwitch]="currentContent">
    <app-home *ngSwitchCase="'HOME'"></app-home>
    <app-about *ngSwitchCase="'ABOUT'"></app-about>
    <app-products *ngSwitchCase="'PRODUCTS'" (productDetails)="productDetailsContent($event)"></app-products>
    <app-contact *ngSwitchCase="'CONTACT'"></app-contact>
    <app-product-details *ngSwitchCase="'DETAILS'" [productDetails]="getProductDetails()" (productsView)="changeToProductsView()"></app-product-details>
    <app-home *ngSwitchCaseDefault></app-home>
</div>
