
<div>
    <ul>
        <li class="menu-item" (click)="changeContent('HOME')">HOME</li>
        <li class="menu-item" (click)="changeContent('ABOUT')">ABOUT</li>
        <li class="menu-item" (click)="changeContent('PRODUCTS')">PRODUCTS</li>
        <li class="menu-item" (click)="changeContent('CONTACT')">CONTACT</li>
        <li class="menu-item" (click)="changeContent('CART')">CART</li>        
        <li class="menu-item" (click)="changeContent('ADD-PRODUCT')" *ngIf="isPermitted()" >ADD PRODUCT</li>
        <app-social-tab>
            <a #tab href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a> 
            <a #tab href="https://www.gmail.com"><i class="fas fa-envelope"></i></a>
            <a #tab href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        </app-social-tab>      
    </ul>

</div>
