<div class="line"></div>
<div>
        <button *ngIf="fromElement === 'products'" (click)="returnToProductsView()">Return to all products</button>
        <button *ngIf="fromElement === 'cart'" (click)="returnToCartView()">Return to cart</button>
</div>
<div class="product-details">
        <div><img src="{{productDetails.image}}"></div>
        <div class="details">
                <h3>{{productDetails.title}}</h3>
                <p class="description">{{productDetails.description}}</p>
                <p class="price"><b>price:</b> {{productDetails.price}} ILS</p>
                <app-cart-action [product]="productDetails"></app-cart-action>
        </div>
</div>