<div class="line"></div>
<div>
        <button class="return-button" *ngIf="fromElement === 'products'" (click)="returnToProductsView()">Return to all products</button>
        <button class="return-button" *ngIf="fromElement === 'cart'" (click)="returnToCartView()">Return to cart</button>
</div>
<div class="product-details">
        <div><img src="{{productDetails.image}}"></div>
        <div class="details">
                <h3>{{productDetails.title}}</h3>
                <p class="description">{{productDetails.description}}</p>
                <p class="price"><b>price:</b> {{productDetails.price}} ILS</p>
                <div class="container-action">
                        <app-cart-action [product]="productDetails"></app-cart-action>
                        <button class="action-button" *ngIf="isPermitted()" (click)="editProduct()">Edit Product</button>
                </div>
        </div>
</div>